/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    "Roboto",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

button,
input {
  font: inherit;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.landing-page {
  display: flex;
}

.landing-container {
  flex: 1;
  display: flex;
}

.brand-side {
  flex: 0 0 40%;
  padding-right: 2rem;
  background-image: url("landing-page-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
  color: white;
}

.actions-side {
  flex: 1;
  position: relative;
  background-color: #020719;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.421);
  font-size: 0.8rem;
}

.brand {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
}

@import "page";
@import "login";
