.header {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid #a7a7a7;
  position: sticky;
  top: 0;
  background-color: #020719;
  z-index: 100;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
}

.nav-logo,
.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.3rem;
}

.nav-logout {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.3rem;
}

.nav-logout:hover,
.nav-links a:hover {
  opacity: 0.85;
}
.nav-links a:active {
  transform: scale(0.96);
}
.nav-link img,
.nav-logout img {
  width: 30px;
  height: 30px;
}
