.landing-page {
  display: flex;
}

.landing-container {
  flex: 1;
  display: flex;
}

.brand-side {
  flex: 0 0 40%;
  padding-right: 2rem;
  background-image: url("landing-page-bg.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-decoration: none;
}

.actions-side {
  flex: 1;
  position: relative;
  background-color: #020719;
  display: flex;
  justify-content: center;
  align-items: center;
}

.credit {
  position: absolute;
  bottom: 1rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.421);
  font-size: 0.8rem;
}

.brand {
  text-align: right;
  font-size: 2rem;
  font-weight: bold;
}
