.landing-actions {
  min-height: 100vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.acc {
  display: flex;
  gap: 1rem;
}

.acc form {
  flex: 1;
}

.btn {
  width: 100%;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;
  color: white;
  background: #172554;
}

.btn:hover {
  background: #1e3a8a;
}

.btn:active {
  transform: scale(0.97);
}

.divider {
  color: #94a3b8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 0.85rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #172554;
}

.google-btn img {
  width: 30px;
  height: 30px;
}
