.landing-actions {
  min-height: 100vh;
  min-width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.acc {
  display: flex;
  gap: 1rem;
}

.acc form {
  flex: 1;
}

.btn {
  width: 100%;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  text-wrap: nowrap;
}

.divider {
  color: rgb(170, 166, 166);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  font-size: 0.85rem;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.google-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.google-btn img {
  width: 30px;
  height: 30px;
}

.landing-page button:hover {
  opacity: 0.9;
}

.landing-page button:active {
  transform: scale(0.97);
}
