.signup-container {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  min-height: 100vh;
  min-width: 25vw;
}

.signup-container a {
  color: #6798b096;
  text-decoration: none;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.signup-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.signup-field input {
  border-radius: 999px;
  border: none;
  padding: 12px 24px;
  width: 100%;
}

.signup-actions input[type="submit"] {
  width: 100%;
  padding: 12px 24px;
  border-radius: 999px;
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  text-wrap: nowrap;
}

.signup-actions input[type="submit"]:hover {
  opacity: 0.9;
}

.signup-actions input[type="submit"]:active {
  transform: scale(0.97);
}

.form-error {
  color: #ff6b6b;
  font-size: 0.85rem;
}
